body {
 font-family: lato;
 text-align: center;
 padding: 0em;
 margin: 0em;
 line-height: 1.6em;
}


header {
 font-size: 3.7em;
 color: white;
 padding: 2em;
 background: url("https://fastly.4sqi.net/img/general/width960/14585497_nYGqbi8y7BU6GwUV_BdcLe7uoPfQUeBfkjDai7crLic.jpg") scroll no-repeat center;
 background-size: cover;
}

.location {
 background-color: navajowhite;
 border: 1em;
 padding: 1em;
 width: auto;
 height: auto;
}

.location_2 {
 background-color: white;
 border: 1em;
 padding: 1em;
 width: auto;
 height: auto;
}


.intro {
 border: 1em;
 padding: 2em 7em 2em 7em;
}


h3 {
 font-size: 1.8em;
 margin: 0.3em; 
 padding: 0em;
}


p {
 font-size: 1.2em;
 padding: 0.5em 7em 1.5em 7em;
}


.bird {
 border: 0.45em solid darkcyan;
 overflow: auto;
 width: 69%;
 position: relative;
 left: 10.35em;
 text-align: left;
 padding: 1em; 
}

.captions {
 color: grey; 
 font-size: 1em;
 padding: 0em; 
 margin: 0em;
}

